<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!--author marco karpf-->
<head>
    <title>Crowdfouding</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/mvp.css">
</head>
<body>
<main>
    <h1>Crowdfounding</h1>
    <img class="img-fluid" width="200" src="/images/Crowdfounding.png" alt="Crowdfounding Icons"/>
    <div>
        <h2>Neuen Spende erfassen</h2>
        <form th:object="${donation}" th:action="@{/adddonation}" method="post">
            <label>id:</label>
            <input type="number" th:field="*{id}"/>
            <label>Spender:</label>
            <input type="text" th:field="*{donator}"/>
            <label>Betrag:</label>
            <input type="text" th:field="*{value}"/>
            <label>Email:</label>
            <input type="text" th:field="*{email}"/>
            <label>Überweisungsdatum:</label>
            <input type="date" th:field="*{date}"/>
            <button type="submit">Hinzufügen</button>
        </form>
        <button><a th:href="@{/remove}" style="text-decoration: none; color: black; ">letzte Spende löschen</a></button>
    </div>
    <div th:object="${list}">
        <label>Summe der Spenden</label>
        <output th:text="${list.amount}">0</output>
    </div>

    <div>
        <h2>Erfasste Spenden</h2>
        <table>
            <thead>
            <tr>
                <th>Spender</th>
                <th>Betrag</th>
                <th>E-Mail</th>
                <th>Überweisungsdatum</th>
                <th>Update/Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="donation : ${donations}">
                <td th:text="${donation.donator}"></td>
                <td th:text="${donation.value}"></td>
                <td th:text="${donation.email}"></td>
                <td th:text="${donation.date}"></td>
                <td><a th:href="@{/edit/{id}(id=${donation.id})}" class="btn btn-primary">Update</a>
                    <a th:href="@{/delete/{id}(id=${donation.id})}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
    </div>
</main>
<footer>
    <p><small>© 2022 / Author: M.Karpf</small></p>
</footer>
</body>
</html>
